.auth {
    max-width: 340px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.input {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--blackgrey);
    border: none;
    border-radius: 8px;
}

.input::placeholder {
    color: var(--white);
}

.inputError {
    color: var(--red);
}

.submitButton {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    margin-right: 20px;
}

.link {
    color: var(--blue);
}